ul {
    padding: 0;
    margin: 0;
}

/* defines spacing between any adjacent list elements 
(chat list and message list)*/
li + li {
    margin-top: 4px;
}

input {
    &:focus {   
        outline: none;
    }
}

/* make styled component */
.navBar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background: inherit;
    border-bottom: solid black 2px;
    justify-content: center;
    min-height: 56px;
}

.friendHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
}


/* bottom user nav with setting and logout */
.userContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background: #1d1d1d;
    font-family: vhs;
}

.userContent {
    display: flex;
    align-items:center;
    gap: 8px;
    /* box-sizing: border-box; */
}




.messageSectionContainer {
    width: 100%;
    /* height: 100%; */
    background-color: var(--base-gray);
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.messageListContainer {
    height: 100%;
    display: inherit;
    flex-direction: inherit;
    overflow: hidden;
    box-sizing: border-box;
    padding: 16px 16px;
    font-size: 14px;
    /* background: white; */
}

.messageHeader {
    width: 100%;
    background: white;
}

.messageField {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 6px;
    margin: auto 0 0 0;
    border-radius: 8px;
    background-color: var(--pale);
    color:black;
    /* border: none; */
}

.messageList {
    /* width: 100%; */
    /* maybe change the height adjustment if it doesn't work out */
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--base-gray);
    color: white;
    row-gap: 16px;
    /* padding: 8px 0; */
    margin-bottom: 8px;
    overflow-y: scroll;
}



/* side bar */
.addButton {
    border-right: none;
    border-radius: 10px 0 0 10px;
    
}


.requestsButton {
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.powerButton {
    aspect-ratio: 1;
    border-radius:50%;
}

.searchField {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 6px;
    color: black;
    background: var(--pale);
    border: none; 
}

.chatList{
    width: 100%;
    height: 100%;
    list-style-type: none;
    box-sizing: border-box;
    padding: 8px;
    overflow-y: scroll;
}

/* container for individual user chats */
.chatContainer{
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    gap: 8px;
    background: var(--purple);
    color: var(--display-blue);
    text-shadow: var(--display-shadow) 2px 0 10px;
    font-family: vhs;
    border-radius: 10px;

    &:hover {
        background: var(--light-purple)
    }
}

.profileImage {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* container for message (includes user image, user header, message) */
.messageContainer {
    display: flex;
}

.messageContent {
    display: flex;
    flex-direction: column;
    margin: 2px 8px;
    row-gap: 2px;
    /* font-size: 12px; */
}