*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styling for register page */
.registerContainer {
    display: flex;
    height: 100vh;
    background: black;
    align-items: center;
    justify-content: center;
}

/* styling for register form */
.registerForm {
    background: white;
}

.loginText {
    color: white;
}