@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "vhs";
    src: local("HomeVideo-BLG6G"),
        url("/fonts/HomeVideo-BLG6G.ttf") format("truetype");
}
@font-face {
    font-family: "vhs-bold";
    src: local("HomeVideoBold-R90Dv"),
        url("/fonts/HomeVideoBold-R90Dv.ttf") format("truetype");
}

:root{
    --pale: #f4efdc;
    --brown: #4a3425;
    --orange: #fcb606;
    --gold: #eecf96;
    --base-gray: #2f2f2f;
    --dark-gray: #252525;
    --purple: #3e1d4d;
    --light-purple: #5c2b73;
    --display-blue: #bcdbf9;
    --display-shadow: #27285a;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


body {
    margin: 0;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

body, html, #root {
    height: 100%;
}

body, html {
    background-color: #2f2f2f;
    font-family: 'Inter';
    color: #fff;
}